.hmr-swiper-bullet-active {
  border-radius: 10px !important;
  height: 12px !important;
  width: var(--swiper-bullet-size) !important;
  background: #ffffff !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet {
  border-radius: 10px !important;
  height: 12px !important;
  width: var(--swiper-bullet-size) !important;
}
